@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,100;1,600&family=Orbitron:wght@400;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root{
    font-family: Montserrat, Georgia, 'Times New Roman', Times, serif;
}

/*--Main Layout--*/

body{
    box-sizing: border-box;
}

.container{
    height: 100vh;
    
    display: grid;
    grid-template: repeat(3,1fr) / repeat(4,1fr);
    border: 1px solid red;
}

.sidebar{
    background-color: blue;
    grid-row: 1/-1;
}

.header{
    background-color: red;
    grid-row: 1/2;
    grid-column: 2/5;
}

.projects{
    background-color: green;
    grid-row: 2/5;
    grid-column: 2/4;
}

.announcement{
    grid-row: 2/5;
    grid-column: 4/5;
}

/*--Side Bar --*/



.logo{
    display: grid;
    grid-template: 1fr / 1fr 2fr;
}

.logo .logo-svg{
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

.logo p {
  
    grid-column: 2/3;
    justify-self: center;
    align-self: end;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
 
}

.nav-button{
    display: block;
}